@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 12%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

.logo {
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
}

.logo:hover {
  color: tomato;
  text-shadow:
    0 0 25px tomato,
    0 0 50px tomato;
  transform: scale(1.1);
}

span {
  color: tomato;
}

.navbar a {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  margin: 0 20px;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
  color: tomato;
  border-bottom: 3px solid transparent;
}

.contact {
  padding: 10px 28px;
  background: #fff;
  color: #000;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
}

.contact:hover {
  background: tomato;
  box-shadow: 0 0 25px tomato;
  color: #fff;
}

/* home styling  */
.home {
  display: flex;
  align-items: center;
  gap: 7em;
  padding: 30px 12% 0;
  width: 100%;
  min-height: 100vh;
  background: #f1f1f1;
}

.home-content {
  max-width: 800px;
}

.home-content h3 {
  font-size: 42px;
}

.home-content h1 {
  margin-top: 20px;
  font-size: 62px;
  line-height: 1.2;
}

.home-content p {
  font-size: 18px;
  margin: 25px 0 30px;
}

.btn-box {
  display: flex;
  width: 345px;
  gap: 2em;
}

.btn-1 {
  background: #000;
  color: #fff;
  padding: 15px 28px;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-1:hover {
  background: #fff;
  color: #000;
  border: 2px solid #000;
  box-shadow: 0 0 15px #b6b6b6;
}

.btn-2 {
  background: tomato;
  color: #fff;
  padding: 15px 28px;
  /* border: 2px solid #000; */
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-2:hover {
  background: #fff;
  color: tomato;
}

.img-box img {
  border-radius: 50px;
  width: 550px;
  object-fit: cover;
  box-shadow: 0 0 5px black;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: tomato;
}

::-webkit-scrollbar-track {
  background: #000000e2;
  width: 50px;
}

/* About */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12% 8%;
  background: #000;
  gap: 10em;
}

.about img {
  border-radius: 50px;
  width: 550px;
  object-fit: cover;
  box-shadow:
    0 0 25px tomato,
    0 0 50px tomato;
}

.about-content h2 {
  color: #fff;
  text-align: left;
  font-size: 42px;
}

.about-content h3 {
  color: #fff;
  font-size: 62px;
}

.about-content p {
  color: #fff;
  font-size: 20px;
  margin: 2em 0 3em;
}
